<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://necolas.github.io">
    <link rel="preconnect" href="https://raw.githubusercontent.com">
    <link rel="preconnect" href="https://unpkg.com">

    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
    >
    <link rel="preload" as="style" type="text/css"
      href="https://necolas.github.io/normalize.css/latest/normalize.css"
      onload="this.onload=null;this.rel='stylesheet'"
    >
    <link rel="preload" as="style" type="text/css"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="shortcut icon"
      href="https://raw.githubusercontent.com/on-nix/artwork/8981511eb429c4fe2d772347cd3efe493ef7f670/logo/favicon.ico"
    />

    <title>
      {{ block "title" . }}
        define "title"
      {{ end }}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      /* Functional styles */
      .bg-cyan { background-color: #B2EBF2; }
      .cyan { color: #B2EBF2; }
      .font { font-family: 'Raleway'; }

      /* Resets */
      a:link { text-decoration: none; }
      a:visited { text-decoration: none; }
      a:hover { text-decoration: none; }
    </style>
  </head>
  <body class="bg-white f4 font lh-copy">

    <nav class="bg-black w-100">
      <a class="b f2 link pl2 white" href="/">
        {{ block "nav-title" . }}
          define "nav-title"
        {{ end }}
        </a>
      </nav>

      <nav class="bg-cyan pa0 shadow-1 w-100">
        <p class="black ma0 pa0 pl2">
          {{ block "nav-subtitle" . }}
            define "nav-subtitle"
          {{ end }}
        </p>
      </nav>

    <div class="pa1">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ block "footer" . }}
      <div style="height: 50px"></div>
    {{ end }}
  </body>
</html>
