<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ block "title" . }}
        define "title"
      {{ end }}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $resource := resources.Get "styles.css" | minify }}
    <link rel="stylesheet" href={{ $resource.RelPermalink }} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" type="text/css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/on-nix/artwork/8981511eb429c4fe2d772347cd3efe493ef7f670/logo/favicon.ico" />
  </head>
  <body class="bg-white f4 font lh-copy">

    <nav class="bg-black w-100">
      <a class="b f2 link pl2 white" href="/">
        {{ block "nav-title" . }}
          define "nav-title"
        {{ end }}
        </a>
      </nav>

      <nav class="bg-cyan pa0 shadow-1 w-100">
        <p class="black ma0 pa0 pl2">
          {{ block "nav-subtitle" . }}
            define "nav-subtitle"
          {{ end }}
        </p>
      </nav>

    <div class="pa1">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ block "footer" . }}
      <div style="height: 50px"></div>
    {{ end }}

  <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
  <script>
    kofiWidgetOverlay.draw("kamadorueda", {
      "type": "floating-chat",
      "floating-chat.donateButton.text": "Support Us",
      "floating-chat.donateButton.background-color": "#000",
      "floating-chat.donateButton.text-color": "#fff"
    });
  </script>
  </body>
</html>
